body {
    background-color: black;
    color: green;
}

#presentation {
    padding: 2% 2% 2% 2%;
}

.image-container {
    position: relative;
}

.linkedin-icon {
    position: relative;

}

.icon-size {
    width: 40px; /* Define a largura do ícone */
    height: 40px; /* Define a altura do ícone */
}

.bold{
    font-weight: bold;

}